Pillow (PIL): 12.2.0 (Handles image processing under the hood)
FontTools: 4.63.0
ContourPy: 1.3.3
Cycler: 0.12.1
KiwiSolver: 1.5.0
Packaging: 26.2
PyParsing: 3.3.2
Python-DateUtil: 2.9.0.post0
Six: 1.17.0